# Dependencies
node_modules/
package-lock.json
.adminjs/
# Environment Variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Test Coverage
coverage/

# Temporary Files
tmp/
temp/
uploads/